* {
    font-family: "Trebuchet MS", Arial, Verdana;
    box-sizing: border-box;
    padding: 0px; margin: 0px;
}
body {
    top: 0px; left: 0px; bottom: 0px; right: 0px;
    width: 100%; height: 100vh;
    background-color: #ff8850;
    color: #f7ebe1;
    display:flex;
    flex-flow: column nowrap;
}
body > header {
    flex: 1 0 auto;
    padding: 25px; margin: 10px auto; font-size: 1.5em;
} 
section > * {
    padding: 15px; margin: 10px auto;
}
article {
    flex: 6 0 auto;
    background-color: #f7ebe1;
    color: #000000;
    display: flex;
    flex-flow: row wrap;
}
section {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
section > header {
    padding-top: 10px; padding-bottom: 0px;
    margin-bottom: 0px;
}
section > div {
    margin: 10px; padding: 10px; 
    min-width: 350px;
    border: 2px solid #f7ebe1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content:space-around;
}
.global-stats {
    background-color: #6db6a2;
    color: #f7ebe1;
}
.game-stats {
    flex: 4 0 auto;
    margin-top: 24px;
} 
.total-games {
    flex: 2 0 auto;
    background-color: #f7ebe1;
    color: #000000;
    margin-top: 15px; margin-bottom: 30px;
}
table {
    flex: 6 0 auto;
    border-collapse: collapse;
}
thead {
    display: block;
    border-bottom: 2px solid #000000;
}
tbody {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 350px;
    width: 500px;
}
th, td {
    padding: 5px;
    width: 120px;
    font-weight: bolder;
    text-align: center;
}
footer {
    flex: 2 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
button {
    flex: 1 0 auto;
    padding: 15px 33px; 
    margin: 5px 15px;
    max-height: 50px;
    box-shadow: none;
    border: none;
    background-color: #6db6a2;
    font-size: 1.2em;
    font-weight: bolder;
}
button:hover {
    cursor: pointer;
    background-color: #ff8850;
}
button:disabled {
    cursor: inherit;
    color: #ff8850;
    background-color: #f7ebe1;
}
h1 {
    margin: 0px;
    padding: 15px 50px;
    font-weight: bolder;
    text-align: center;
    border: 3px solid #f7ebe1;
}
h2, h3 {
    padding: 10px;
    font-size: 1.6em;
}